<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="ar">
    <title>Connectez-vous à «Gérer les objets perdus»</title>
</head>
<body align="center">
    <div class="login-container">
        <form id="longin-form" action="{{ url_for('inserteee') }}" method="POST" >
            <fieldset>
                <legend><h4>Connectez-vous à «Gérer les objets perdus»</h4></legend>
                <p class="form-group">
                <input type="hidden" id="id_p" name="id_p">
                </p>
                <p class="form-group">
                <label>Numéro de telephone :</label><br>
                <input type="number" id="tel" name="tel" placeholder="Numéro de telephone">
            </p>
            <p class="form-group">
                <label>Mot de passe : </label><br>
                <input type="password" id="password" name="password" placeholder="Mot de passe">
            </p>
            <p class="form-group">
                <button type="submit">Se connecter :</button>
            </p>
            <p class="form-group">
                <a href="{{ url_for('home') }}"><h4>Créer un compte :</h4></a>
            </p>
            </fieldset>
        </form>
    </div>
    <script type="text/javascript"
        src="{{ url_for('static', filename='longin.js') }}"></script>
</body>
</html>
